@charset "UTF-8";

/* typical device Breakpoints
-----------------------------
Pequenas telas: até 600px
celular: de 600px ate 768
tablet: 768 até 992px
Desktop: 992px até 1200px
Grandes telas:acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom, #121a22,#5f7f9f);
    }
    section#login{
        width: 80vw;
       }
       section#login>div#foto{
        float: left;
        width: 30%;
        height: 100%;
       }
       section#login >div#form{
        float: right;
        width: 70%;
       }
}

@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to bottom, #121a22,#5f7f9f);

    }
    section#login{
        width: 950px;
    }
    section#login >div#foto{
        float:left;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        width: 50%;
    }
}